@import url(reset.css);

* {
	box-sizing: border-box;
}

body {
	margin-top: 70px;
	text-align: center;
	background-color: #6E7888;
}

.userCard {
	background-color: #3A3D45;
	border: 0;
	border-radius: 40px;
	width: 350px;
	height: 550px;
	margin-left: 40%;
}

.userName {
	background-color: #E7EBEE;
	border: 0;
	border-radius: 40px 40px 0 0;
	font-weight: bold;
	font-size: 20px;
}

.userName > h1 {
	padding: 30px 30px;
	color: #3A3D45;
}

.userContent {
	color: #E7EBEE;
}

.profilePicture {
	height: 130px;
	width: 130px;
	border-radius: 100%;
	object-fit: cover;
	margin-top: 30px;
}

.userContent > p {
	text-align: left;
	word-spacing: 4px;
	line-height: 1.2em;
	font-size: 15px;
	margin: 30px 30px 30px 30px;
}

.numbers {
	display: inline-block;
	text-align: center;
	width: inherit;
	margin: 0 30px 30px 30px;
}

.numbers .box {
	display: inline-block;
}

.box > p {
	display: block;
	font-size: 20px;
}

.box + .box {
	margin-left: 30px;
}

.button {
	display: inline-block;
	text-align: center;
}

.follow {
	background-color: #4169E2;
	text-align: center;
	color: #E7EBEE;
	width: 120px;
	font-size: 20px;
	border: none;
	padding: 10px 0;
	border-radius: 21.5px;
}

.message {
	background-color: #E7EBEE;
	text-align: center;
	color: #3A3D45;
	width: 120px;
	font-size: 20px;
	border: none;
	padding: 10px 0;
	border-radius: 21.5px;
}

.follow + .message {
	margin-left: 30px;
}